<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/index.css">
    <title>diseño multimedia</title>
</head>
<body>
    <main>
		<nav>
            <div class="breadcrumb-title">
            <p>DISEÑO </p> <p id="textocolor1">MULTIMEDIA</p>
            </div>
			<ul>
				<li><a href="../index.html">INICIO</a></li>
                <li><a href="nosotros.html">NOSOTROS</a></li>
				<li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="Contacto.html" class="activo">CONTACTO</a></li>
			</ul>
		</nav>
		<section class="sec1">
            <div id="subscribete">
            <p>subscribete a nuestro boletin</p>
            </div>
            <div id="input">
            <input type="email" placeholder="ingrese su Email">
            <button class="btn"> subscribete </button>
            </div>
		</section>
        <section class="section4" id="contacto">
            <section class="inputs">
                <h1 id="contac">Contacto</h1>
                <div>
                    <p>Nombre</p>
                        <input type="text" id="nombre">
                </div>
                    <div id="tel">
                        <p>Email</p>
                            <input type="email" id="e-mail">
                    </div>
                        <div>
                            <p>Teléfono</p>
                                <input type="number" id="numero">
                        </div>
                            <div>
                                <form id="txt-area">
                                    <p>Mensaje</p>
                                    <textarea rows="5" cols="50" id="txt_area"></textarea><br><br>
                                </form>
                                <button id="btn-sec4">Enviar</button>
                            </div>
            </section>
                <section class="lorem-img">
                    <div id="loremconts">
                        <h1 id="queh">Que hacemos</h1>
                            <p id="loremcon">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Praesentium nisi perferendis voluptates beatae alias inventore 
                                cum quod neque ipsum! Neque, quibusdam hic aliquam culpa laboriosam 
                                perferendis rem vitae magni molestiae?</p>
                    </div>
                        <div id="map_img">
                            <img src="../assets/imagenes/mapaGoogle.png" alt="googleMap" id="google-map">
                        </div>	
                </section>
                
        </section>
</main>
<footer>
    Graphel Desarrollo Web, Copyright © 2017
</footer>
</body>
</html>