<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/index.css">
    <title>diseño multimedia</title>
</head>
<body>
    <main>
		<nav>
            <div class="breadcrumb-title">
            <p>DISEÑO </p> <p id="textocolor1">MULTIMEDIA</p>
            </div>
			<ul>
				<li><a href="../index.html">INICIO</a></li>
                <li><a href="nosotros.html" class="activo">NOSOTROS</a></li>
				<li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="Contacto.html">CONTACTO</a></li>
			</ul>
		</nav>
		<section class="sec1">
            <div id="subscribete">
            <p>subscribete a nuestro boletin</p>
            </div>
            <div id="input">
            <input type="email" placeholder="ingrese su Email">
            <button class="btn"> subscribete </button>
            </div>
		</section>
<main>
	<section class="section2" >
	<section class="txt">
		<div class="txt1_2">
			<div id="nos">
				<h1>Nosotros</h1>
					<p id="lorem1-1">Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Vitae ea vel nam odit mollitia, suscipit alias temporibus 
						magnam ratione consequatur. Blanditiis beatae atque quibusdam 
						tempora minus nisi assumenda facilis error! Lorem ipsum dolor sit 
						amet consectetur adipisicing elit. Officia vel omnis labore animi. 
						Quasi aliquam nostrum fugit repellendus sunt recusandae fugiat 
						asperiores error. Adipisci blanditiis nisi laborum, totam doloribus 
						corrupti?</p>
						<div id="txt2_2">
							<p id="lorem2_2">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
								Quos corrupti aperiam aut magnam commodi illum reprehenderit 
								atque nesciunt. Mollitia vero obcaecati 
								laborum amet ullam qui facilis, voluptates ex labore magni Lorem ipsum dolor 
								sit amet consectetur adipisicing elit. Unde dolore ullam non, provident aut 
								recusandae maiores veritatis neque assumenda, 
								dolores hic officia atque iusto placeat architecto. Aut error officiis adipisci 
								Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas eaque dolorem,
							</p>
						</div>	
							<div id="img-sect2">
								<img src="../assets/imagenes/891.jpg" alt="nosotros" id="img_sec2">
							</div>
				</div>
				<div id="lorem2-2">
				<h1 id="queh">Que hacemos</h1>
					<p id="lorem2-1_2">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					Praesentium nisi perferendis voluptates beatae alias inventore 
					cum quod neque ipsum! Neque, quibusdam hic aliquam culpa laboriosam 
					perferendis rem vitae magni molestiae?
				</p>
				</div>
				</div>
			</section>
		</section>
</main>
			<footer>
				Graphel Desarrollo Web, Copyright © 2017
			</footer>
	</main>
</body>
</html>