<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/index.css">
    <title>diseño multimedia</title>
</head>
<body>
    <main>
		<nav>
            <div class="breadcrumb-title">
            <p>DISEÑO </p> <p id="textocolor1">MULTIMEDIA</p>
            </div>
			<ul>
				<li><a href="../index.html">INICIO</a></li>
                <li><a href="nosotros.html" class="activo">NOSOTROS</a></li>
				<li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="Contacto.html">CONTACTO</a></li>
			</ul>
		</nav>
		<section class="sec1">
            <div id="subscribete">
            <p>subscribete a nuestro boletin</p>
            </div>
            <div id="input">
            <input type="email" placeholder="ingrese su Email">
            <button class="btn"> subscribete </button>
            </div>
		</section>
		<section class="sec3">
			<div class="textoSec3">
			<h1>NOSOTROS</h1> <br>
			<P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam corporis vero aliquid, magni tenetur non velit sunt illo quam recusandae in doloribus facilis praesentium ipsum tempora dolore dolor accusantium adipisci.
			   Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, ducimus amet nihil earum quos laborum vel sed quod veniam non aut voluptatibus similique voluptatum aliquid, mollitia cum neque illo ipsum?
			   Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat non corporis quam, magnam eveniet ad et eligendi magni nam, ratione suscipit quaerat quia excepturi aperiam blanditiis reprehenderit? Quaerat, obcaecati vero.
			   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia minima dolorem consequatur ex magnam repellat? Aspernatur et ut eligendi quod facere velit accusamus eum mollitia animi, deserunt dolore ratione similique?
			</P> 
		    </div>
			<aside id="textolateral">
				<h1>Que hacemos </h1> <br> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit  excepturi. Lorem ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, perferendis? Expedita architecto, fugit modi iure non repudiandae ducimus perferendis </p>
				</aside>
		</section>
		<section class="sec3">
			<div id="textocolor">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut accusamus deleniti labore dolorem! Libero ducimus quia facere odio? Omnis beatae fugit soluta atque mollitia tenetur et temporibus! Culpa, tempore sed?
				Lorem ipsum dolor sit amet consectetur adipisicing elit. A, debitis nisi possimus necessitatibus molestiae inventore, quae numquam laborum soluta quo reiciendis vero voluptates ipsam iusto sapiente reprehenderit, doloribus quaerat quos.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed natus aspernatur at excepturi eius libero facere fugiat. Minima, in consequuntur. Doloribus amet ea animi quibusdam nobis totam, perferendis aspernatur. Debitis?
			    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga commodi similique neque vitae? Accusamus, iusto unde atque hic doloremque ut dolorem maiores ab sed enim exercitationem cupiditate eaque laudantium vero.
			</div>
		</section>
		<section class="sec3">
			<img src="../assets/imagenes/891.jpg" alt="imagen 1" id="imagenFondo">
		</section>
		<footer>
			<p>Grephel Desarrollo Web, copyright &copy; 2017</p>
		</footer>
	</main>
</body>
</html>