<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>diseño multimedia</title>
</head>
    <main>
		<header>

		</header>
		<nav>
			<ul>
				<li><a href="../index.html">Inicio</a></li>
				<li><a href="../templates/nosotros.html">nosotros</a></li>
				<li><a href="../templates/servicios.html">servicios</a></li>
                <li><a href="../templates/Contacto.html">Contacto</a></li>
			</ul>
		</nav>
		<section>
			<section>
				<ol>
					<li>uno</li>
					<li>dos</li>
					<li>tres</li>
					<li>cuatro</li>
					<li>cinco</li>
				</ol>
			</section>
		</section>
		<footer>
			<p>Todos los derechos reservados &copy;</p>
		</footer>
	</main>
</body>
</html>