<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/index.css">
    <title>diseño multimedia</title>
</head>
<body>
    <main>
		<nav>
            <div class="breadcrumb-title">
            <p>DISEÑO </p> <p id="textocolor1">MULTIMEDIA</p>
            </div>
			<ul>
				<li><a href="../index.html">INICIO</a></li>
                <li><a href="nosotros.html" >NOSOTROS</a></li>
				<li><a href="servicios.html"class="activo">SERVICIOS</a></li>
                <li><a href="Contacto.html">CONTACTO</a></li>
			</ul>
		</nav>
		<main>
		<section class="sec1">
            <div id="subscribete">
            <p>subscribete a nuestro boletin</p>
            </div>
            <div id="input">
            <input type="email" placeholder="ingrese su Email">
            <button class="btn"> subscribete </button>
            </div>
		</section>
 <section class="section3" >
<!-- -----Seccion#3----- -->
	<section class="containers">
		<h1 id="serv">Servicios</h1>
		<div id="container">
		<button id="btn-sect3">
		<h1 id="contwor">Diseño Web</h1>
		<p id="lorem-cont">Lorem ipsum dolor sit amet consectetur adipisicing elit. In soluta, 
		cumque animi temporibus distinctio harum nostrum molestias autem minima 
		similique placeat.Quae debitis ea voluptates reprehenderit magnam, 
		omnis minima quis!</p>
		<p>Precio: $300.000 - $1'000.000</p>
		</button>
		</div>
		<div id="container">
		<button id="btn-sect3">
		<h1 id="contwor">Desarrollo Web</h1>
		<p id="lorem-cont">Lorem ipsum dolor sit amet consectetur adipisicing elit. In soluta, 
		cumque animi temporibus distinctio harum nostrum molestias autem minima 
		similique placeat.Quae debitis ea voluptates reprehenderit magnam, 
		omnis minima quis!</p>
		<p>Precio desde: $1'000.000</p>
		</button>
		</div>
		<div id="container">
		<button id="btn-sect3">
		<h1 id="contwor">Hosting Web</h1>
		<p id="lorem-cont">Lorem ipsum dolor sit amet consectetur adipisicing elit. In soluta, 
		cumque animi temporibus distinctio harum nostrum molestias autem minima 
		similique placeat.Quae debitis ea voluptates reprehenderit magnam, 
		omnis minima quis!</p>
		<p>Precio: $300.000</p>
		</button>
		</div>
	</section>
<div id="loremconts">
	<h1 id="queh">Que hacemos</h1>
	<p id="loremcon">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
	Praesentium nisi perferendis voluptates beatae alias inventore 
	cum quod neque ipsum! Neque, quibusdam hic aliquam culpa laboriosam 
	perferendis rem vitae magni molestiae?</p>
</div>
</main>
	<footer>
		Graphel Desarrollo Web, Copyright © 2017
	</footer>
</body>
</html>